@media screen and (min-width:426px)
{        
    /* HEADER STYLES */

    /* logo */
    .logos
    {
        margin-top: 2vh;
    }

    #w3c
    {
        width:80px;
    }

    #arch
    {
        width:240px;     
    }

    #http
    {
        width:80px;
    }

    i.toggle-side
    {
        display: none;
    }

    /* logo end */

    /* nav */

    nav
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ext-links >  li
    {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px
    }


    /* nav end */

    /* MAIN STYLES */

    main
    {
        padding-top:25vh;
    }

    main > div
    {
        padding: 40px 60px;
        font-size:18px;
        font-weight: normal;
    }


    /* MAIN STYLES END*/

    /* HEADER STYLES END*/

}

@media screen and (max-width:425px)
{
    header
    {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    }

    nav
    {
        margin-top: 0;
    }

    .ext-links
    {
        position: fixed;
        top:0%;
        left:0;
        min-width: 220px;
        width:80vw;
        padding-top:4vh;
        max-width: 280px;
        background: #fff;
        height:100vh;
        margin-left: -100%;
        transition: margin-left 0.5s ease;
    }

    .ext-links.open
    {
        margin-left: 0%;
    }

    .ext-links > li
    {       
        display: block
    }

    .ext-links > li a,.ext-links > li span
    {
        padding-left: 30px;
        display: block;
        margin-top: 2vh;
    }
}

@media screen and (max-width:1200px)
{
    .dropDwn .menu
    {
        right: 5%;
        left:unset;
    }
}

@media screen and (min-width:1024px)
{ 
    /* nav start */  
    .ext-links > li
    {
        padding-left: 30px;
        padding-right: 30px
    }

    /* nav end */
}

@media screen and (min-width:1440px)
{ 
    /* nav start */  
    .ext-links li
    {
        padding-left: 50px;
        padding-right: 50px
    }

    /* nav end */
}